@use '../../App'

a
     font-family: Arial, Helvetica, sans-serif
     font-weight: lighter
     text-decoration: none
     color: App.$quartenaryColour
     cursor: pointer
     font-size: 1.75rem
     line-height: 1.75rem
     height: max-content

.logo
     font-family: Arial, Helvetica, sans-serif
     font-weight: lighter
     width: max-content
     font-size: 1.75rem
     line-height: 1.75rem

header
     display: flex
     position: fixed
     justify-content: center
     gap: 2rem
     top: 1rem
     left: 50%
     transform: translate(-50%)
     width: calc( 100% - 2rem )
     z-index: 10
     align-items: center

nav
     display: flex
     justify-content: space-between
     align-items: center
     width: min(100%, 1440px)
     height: 2.25rem
     padding: 0 0.275rem
     background-color: App.$quinaryColour
     border: 2px solid App.$quartenaryColour
     border-radius: 0.125rem

     ul
          display: flex
          justify-content: space-between
          list-style: none
          gap: 5rem

          li
               padding: 0
               a
                    &:hover,&:focus-visible
                         color: App.$primaryColour
     @media screen and (width<=App.$largeScreen)
          ul
               gap: 2.95rem

.activeLink
     color: App.$tertiaryColour

.langCont
     display: flex
     justify-content: space-between
     align-items: center
     width: 10rem
     height: 2.25rem
     padding: 0.25rem
     background-color: App.$quinaryColour
     border: 2px solid App.$quartenaryColour
     border-radius: 0.125rem
     justify-content: space-between
     list-style: none

     button
          background: none
          align-content: text
          border: 2px solid transparent
          font-size: 1.5rem
          line-height: 1.14rem
          padding: 0.125rem
          font-family: Arial, Helvetica, sans-serif
          font-weight: lighter
          text-decoration: none
          cursor: pointer
          opacity: 0.45
          &:hover,&:focus-visible
               background: App.$quinaryColour
               color: App.$quartenaryColour
               opacity: 1
               border: 2px solid App.$quartenaryColour
               border-radius: 0.125rem

.activeLang
     background: none
     border: none
     font-size: 2.5rem
     line-height: 2.5rem
     font-family: Arial, Helvetica, sans-serif
     font-weight: lighter
     text-decoration: none
     cursor: pointer
     opacity: 1

// .skipNavActive
//      position: fixed
//      top: 0.75rem
//      left: 0.75rem
//      z-index: 11
//      padding: 0.75rem 1.25rem
//      border-radius: 0.125rem
//      font-size: 1.25rem
//      background: App.$quinaryColour
//      color: App.$quartenaryColour
//      border: 2px solid App.$quartenaryColour

//      &:hover,&:focus-visible
//           background: App.$quartenaryColour
//           color: App.$quinaryColour
//           border: 2px solid App.$quinaryColour

// .skipNav
//      display: none
