@use '../../App'

header
     display: flex
     position: fixed
     justify-content: center
     gap: .5rem
     top: 1rem
     left: 50%
     transform: translate(-50%)
     width: calc( 100% - 2rem )
     z-index: 10
     align-items: center

     nav
          display: flex
          justify-content: space-between
          align-items: center
          width: min(100%, 1440px)
          height: max(2.25rem, min-content)
          padding: 0 0.275rem
          background-color: App.$quinaryColour
          border: 2px solid App.$quartenaryColour
          border-radius: App.$navRadius

          ul
               display: flex
               justify-content: space-between
               list-style: none
               gap: 3rem

               li
                    padding: 0
                    a
                         &:hover,&:focus-visible
                              color: App.$primaryColour

          @media screen and (width<=App.$mediumScreen)
               display: grid
               grid-template-columns: auto auto
               grid-template-rows: repeat(2,auto)
               border: none
               padding: 0

               .ul
                    display: none

          @media screen and (max-width: App.$smallMediumScreen)
               grid-row: 1/2

          .activeList
               padding-top: 1.25rem
               grid-row: 2/3
               grid-column: 2/3
               justify-self: end
               border-radius: App.$navRadius
               flex-direction: column
               align-items: flex-end
               gap: 1.25rem

     a
          font: App.$lNavFont
          text-decoration: none
          color: App.$quartenaryColour
          cursor: pointer
          height: max-content

     .logo
          font: App.$lNavFont
          width: max-content

     .menuBtn
          display: none

     @media screen and (width<=App.$mediumScreen)
          display: grid
          grid-template-columns: 1fr
          grid-template-rows: repeat(auto, 3)
          background-color: App.$quinaryColour
          border: 2px solid App.$quartenaryColour
          border-radius: App.$navRadius
          padding: 0 0.275rem

          .menuBtn
               display: block
               font: App.$lNavFont
               background: none
               border: none
               width: max-content
               justify-content: center
               justify-self: end
               grid-column: 2/3
               grid-row: 1/2

          &:hover,&:focus-visible
               color: App.$primaryColour
               cursor: pointer

     @media screen and (max-width: App.$smallScreen)
          a,.logo, .menuBtn
               font: App.$sNavFont

.activeLink
     color: App.$tertiaryColour

.langCont
     display: flex
     gap: 1rem
     align-items: center
     width: min-content
     height: max(2.25rem, min-content)
     background-color: App.$quinaryColour
     border: 2px solid App.$quartenaryColour
     border-radius: App.$navRadius
     list-style: none
     padding: 0 0.275rem

     button
          background: none
          border: none
          font: App.$lNavFont
          text-decoration: none
          cursor: pointer
          opacity: 0.45
          &:hover,&:focus-visible
               background: App.$quinaryColour
               color: App.$quartenaryColour
               opacity: 1

     @media screen and (max-width:App.$mediumScreen)
          margin-top: 2rem
          justify-self: end
          border: none
          padding: 0
     @media screen and (max-width: App.$smallScreen)
          font: App.$sNavFont
          padding: 0 0.275rem

.langContInactive
     display: none
