
*
  padding: 0
  margin: 0
  box-sizing: border-box

// html
//   height: 200vh
$extraLargeScreen: 1920px
$largeScreen: 1440px
$mediumScreen: 1024px
$smallMediumScreen: 800px
$smallScreen: 500px
$extraSmallScreen: 320px

$primaryColour: #1A56FF
$secondaryColour: #002E17
$tertiaryColour: #E44100
$quartenaryColour: #000
$quinaryColour: #fff


