
*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background-color: grey
// html
//   height: 200vh
$extraLargeScreen: 1920px
$largeScreen: 1440px
$mediumScreen: 1024px
$smallMediumScreen: 800px
$smallScreen: 500px
$extraSmallScreen: 320px

$primaryColour: #1A56FF
$secondaryColour: #002E17
$tertiaryColour: #E44100
$quartenaryColour: #000
$quinaryColour: #fff

$xlNavFont: 300 1.75rem/1.75rem Arial, Helvetica, sans-serif

$lNavFont: 300 1.5rem/1.5rem Arial, Helvetica, sans-serif
// $mNavFont: 
// $smNavFont: 
$sNavFont: 300 1.25rem/2rem Arial, Helvetica, sans-serif
// $xsNavFont: 

$navRadius: 0.125rem

main
  margin-top: 50rem
